@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply m-0 overflow-hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Remove scrollbars globally */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@font-face {
  font-family: helvetica-regular;
  src: url('/fonts/HelveticaNowDisplay-Regular.ttf');
}

@font-face {
  font-family: helvetica-bold;
  src: url('/fonts/HelveticaNowDisplay-Bold.ttf');
}

@font-face {
  font-family: nexa;
  src: url('/fonts/Nexa-Book.ttf');
}

@font-face {
  font-family: canva-sans-regular;
  src: url('/fonts/CanvaSans-Regular.otf');
}

@font-face {
  font-family: canva-sans-bold;
  src: url('/fonts/CanvaSans-Bold.otf');
}

@theme inline {
  --font-helvetica-regular: helvetica-regular, "sans-serif";
  --font-helvetica-bold: helvetica-bold, "sans-serif";
  --font-nexa: nexa, "sans-serif";
  --font-canva-sans-regular: canva-sans-regular, "sans-serif";
  --font-canva-sans-bold: canva-sans-bold, "sans-serif";
}